<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" }}">{{ site.title }}</a></h1>
        <small><p> {{site.pronouns}} </p></small>
        {% if site.logo %}
          <img src="{{ site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p> <center>{{site.bio}}</center> </p>
           
        <div class="contacts">
            <h6><span class="mail"></span>email</h6>
            <p><a href="mailto:umberto.tarantino@irif.fr">umberto.tarantino@irif.fr</a></p>
          
            <img src="/assets/img/mail.svg" alt="mail" width="16" height="16">   <br>
            <a href="https://arxiv.org/search/?searchtype=author&query=Tarantino%2C+U">ArXiv</a> <br>
            <a href="https://www.researchgate.net/profile/Umberto-Tarantino-3">ResearchGate</a>
        </div>        
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
