<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" }}">{{ site.title }}</a></h1>
          <p class="pronouns">{{ site.pronouns }}</p>

          {% if site.logo %}
            <img class="profile-photo"
                src="{{ site.logo | relative_url }}"
                alt="Portrait of {{ site.title }}">
          {% endif %}

          <p class="bio">{{ site.bio }}</p>     
                          
          <div class="contacts">

            <address class="contact-details">
              <h4><span class="email"></span>e-mail</h4>
              <p>tarantino <i>at</i> irif <i>dot</i> fr</p>

              <h4><span class="address"></span>address</h4>
              <p>{{ site.location }}</p>
            </address>

            <nav class="academic-profiles" aria-label="Academic profiles">
              <h4><span class="links"></span>links</h4>

              <div class="academic-links">
                <a href="{{ site.arxiv }}">ArXiv</a>
                <a href="{{ site.hal }}">HAL</a>
                <a href="{{ site.researchgate }}">ResearchGate</a>
                <a href="{{ site.googlescholar }}">Google Scholar</a>
              </div>
            </nav>

          </div>        
      </header>
      <section>

      {{ content }}

      </section>
    </div>
  </body>
</html>
